<!DOCTYPE html>
<html>
  <head>
    <title>MySite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/1a020bd911.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    
    <header>
      <nav class="navbar navbar-expand-lg text-black">
        <div class="container">
          
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "logo.png", alt: "MySite Logo" , class: "logo" %>
          <% end %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              <i class="fas fa-bars"></i>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="#portfolio">Portfolio</a>
              </li>
              <li class="nav-item">
                <a href="#feature">Feature</a>
              </li>
              <li class="nav-item">
                <a href="#profile">Profile</a>
              </li>
              <li class="nav-item">
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </div>
          
        </div>
      </nav>
    </header>
    
    <main>
      <div class="mv">
        <div class="container">
          <h1 class="mv-title">Lorem Ipsum</h1>
          <p ="mv-subtitle">simply dummy text of the printing</p>
        </div>
      </div>
    </main>
    
    <main>
      <div class="portfolio">
        <div class="container">
          <h1 class="title">Portfolio</h1>
          <div class="border"></div>
          <p class="text">
            It is a long established fact that a reader will be distracted by the readable<br>
            content of a page when looking at its layout.<br>
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
          </p>
          <div class="images">
            <div class="image1"></div>
            <div class="image2"></div>
            <div class="image3"></div>
            <div class="image4"></div>
            <div class="image5"></div>
            <div class="image6"></div>
          </div>
        </div>
      </div>
    </main>
    
    <main>
      <div class="feature">
        <div class="container">
          <h1 class="title">Feature</h1>
          <div class="border"></div>
          <p class="text">
            It is a long established fact that a reader will be distracted by the readable<br>
            content of a page when looking at its layout.<br>
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
          </p>
          
          <div class="strength-group">
            <div class="strength1">
              <i class="fa-solid fa-code"></i>
              <h1 class="strength-title">
                Strength1
              </h1>
              <p class="strength-text">
                Contrary to popular belief, Lorem Ipsum 
                is not simply random text. It has roots 
                in a piece of classical Latin literature 
                from 45 BC, making it over 2000 years 
                old. Richard McClintock, a Latin 
                professor at Hampden-Sydney College 
                in Virginia, looked up one of the more 
                obscure Latin words, consectetur
              </p>
            </div>
            
            <div class="strength2">
              <i class="fa-solid fa-face-smile"></i>
              <h1 class="strength-title">
                Strength2
              </h1>
              <p class="strength-text">
                Contrary to popular belief, Lorem Ipsum 
                is not simply random text. It has roots 
                in a piece of classical Latin literature 
                from 45 BC, making it over 2000 years 
                old. Richard McClintock, a Latin 
                professor at Hampden-Sydney College 
                in Virginia, looked up one of the more 
                obscure Latin words, consectetur
              </p>
            </div>
            
            <div class="strength3">
              <i class="fa-solid fa-gear"></i>
              <h1 class="strength-title">
                Strength3
              </h1>
              <p class="strength-text">
                Contrary to popular belief, Lorem Ipsum 
                is not simply random text. It has roots 
                in a piece of classical Latin literature 
                from 45 BC, making it over 2000 years 
                old. Richard McClintock, a Latin 
                professor at Hampden-Sydney College 
                in Virginia, looked up one of the more 
                obscure Latin words, consectetur
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    
    <main>
      <div class="profile">
        <div class="container">
          <h1 class="title">Profile</h1>
          <div class="border"></div>
          <p class="text">
            It is a long established fact that a reader will be distracted by the readable<br>
            content of a page when looking at its layout.<br>
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
          </p>
          
          <div class="row">
            <div class="col-6">
              <%= image_tag "my-icon.jpg", alt: "profile-image" , class: "profile-image" %>
            </div>
            <div class="col-6">
              <h1 class="profile-title">
                MyName
              </h1>
              <p class="profile-text">
                Contrary to popular belief, Lorem Ipsum is not simply random 
                text. It has roots in a piece of classical Latin literature from 45 
                BC, making it over 2000 years old. Richard McClintock, a Latin 
                professor at Hampden-Sydney College in Virginia, looked up one 
                of the more obscure Latin words, consectetur
              </p>
              <h1 class="profile-title">
                MySkills
              </h1>
              <p class="profile-text">
                HTML/CSS,JavaScript,JQuery,PhotoShop
              </p>
            </div>
          </div>
            
        </div>
      </div>
    </main>
    
    <main>
      <div class="contact">
        <div class="container">
          <h1 class="title">Contact</h1>
          <div class="border"></div>
          <p class="text">
            It is a long established fact that a reader will be distracted by the readable<br>
            content of a page when looking at its layout.<br>
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
          </p>
          
          <div class="row">
            <div class="col-6">
              <h1 class="contact-title">
                Mail
              </h1>
              <p class="contact-text">
                xxx@xxx.com
              </p>
              <h1 class="contact-title">
                Tel
              </h1>
              <p class="contact-text">
                000-0000-0000
              </p>
            </div>
            <div class="col-6">
              <h1 class="contact-title">
                SNS
              </h1>
              <div class="sns-group">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
              </div>
            </div>
          </div>
            
        </div>
      </div>
    </main>
    
    <fotter>
      <div class="container">
        <p class="fotter-text">©︎ 2017 WebCamp</p>
      </div>
    </fotter>
    
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>
